@import "_mixins.scss";

.navbar {
  @include flexAlignCenter;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2rem;

  > div {
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
  @include max-width(medium){
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include max-width(small){
    padding-top: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
  
  }
}
