@import "_mixins.scss";

@mixin grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  margin: 10px 0;
  padding: 15px 10px 15px 0;
  place-items: center;
}

.headers {
  @include grid;
  background-color: var(--secondary-bg-orange);
  @include max-width(small){
    //padding-right: 1px;
    width: fit-content;
    font-size: 75%;
    font-weight: bold;
  }
}



.rows {
  > div {
    @include grid;

    p:last-child {
      img {
        width: 15px;
        height: 10px;
      }
    }

    @include max-width(small){
      //padding: 5px;
      width: 100%;
      //font-size: 85%;
    }
  }
}

