@import "_mixins.scss";

.border {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    // justify-content: center;
    align-items: center;
    background-color: #f2f6f8;
    margin: auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(244, 249, 247, 0.04);
    border-radius: 10px;
    padding: 2rem;

    p {
        font-size: large;
        padding: 5px;
        margin-left: 20%;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    @include max-width(large){
        width: 70%;
        p{
            margin: auto;
        }
    }
    @include max-width(small){
        width: fit-content;
        p{
            margin: auto;
        }
    }

}

.form{
    width: 100%;
    @include max-width(small){
        width: fit-content;
    }
}

.boxA {
    width: 60%;
    height: 12%;
    margin-bottom: 1rem;
    margin-left: 20%;
    @include max-width(large){
        width: 80%;
        height: 3rem;
        margin: auto;
    }
    @include max-width(small){
        width: fit-content;
        height: 2rem;
        margin: auto;
    }
    
}
.boxB {
    width: 60%;
    height: 15%;
    margin-bottom: 1rem;
    margin-left: 20%;
    @include max-width(large){
        width: 80%;
        height: 3rem;
        margin: auto;
    }
    @include max-width(small){
        width: fit-content;
        height: 2rem;
        margin: auto;
    }
    
}

.but {
    display: flex;
    position: absolute;
    left: 60%;
    margin-top: 1.5rem;
    // padding: 1rem;
    @include max-width(large){
        position:static;
        width: fit-content;
        margin: auto;
        margin-top: 10%;
    }
}

.pub {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 10rem;
    height: 3rem;
    background: #03656B;
    border-radius: 100px;
    border-color: #03656B;
    cursor: pointer;
    @include max-width(small){
        width:8rem ;
        //height: 2rem;
        align-items: center;
        justify-content: center;


    }
}

.cancel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 26px;
    width: 7rem;
    height: 3rem;
    background: #D9D9D9;
    border-radius: 100px;
    border-color: #D9D9D9;
    margin-right: 5px;
    cursor: pointer;
    @include max-width(small){
        width:6rem ;
        //height: 2rem;
        align-items: center;
        justify-content: center;

    }
}

.pdf {
    cursor: pointer;
    margin-top: 40%;
}
