@import "_mixins.scss";

.cert {
  padding: 0 2rem;
}

.position{
    padding-top: 8rem;
    padding-bottom: 6rem;
    @include max-width(large){
      //margin: auto;
      width: 100%;
    }
    
}

.box {
  display: block;
  background-color: rgb(64, 155, 132);
  color: var(--primary-white);
  padding: 1rem;
  margin-left: 10rem;
  margin-top: 2rem;
  border-radius: 1rem 1rem;
  width: 60%;
  @include max-width(large){
    //width: 100%;
    margin-left: 4rem;
    margin-right: 20rem;

  }
  @include max-width(medium){
    width: 100%;
    margin-left: 3rem;
    margin-right: 15rem;

  }
  @include max-width(small){
    width: 100%;
    margin-left: 1rem;
    margin-right: 5rem;

  }
  @include max-width(xsmall){
    width: 100%;
    margin-left: 8%;
    margin-right: 25%;

  }
}

.flex {
  @include flexlayout;
  //align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  
  //justify-content:left;
}

.size{
    height: 2.5rem;
    width: 8rem;
}

.click {
  
  border: 1px solid var(--primary-white);
  width: 13rem;
  height:3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h2{
    padding: 1rem;
    font-weight: normal;
  }
  @include max-width(large){
    width: 6rem;
    height:3rem;
    margin-top: 5%;
    h2{
      font-size: medium;
      
    }
  }
  
  @include max-width(small){
    width: 5rem;
    height:2.5rem;
    h2{
      font-size: small;
      
    }
    margin-top: 10%;
  }
  
}

.title {
  color: rgb(78, 155, 145);
}

.name {
  color: rgb(21, 105, 94);
  font-weight: bolder;
}

.topic{
    color: rgb(78, 155, 145);
    text-align:center;
    padding: 1rem;
}

.container{
    display: block;
    border: 3px solid rgb(15, 87, 69);
    height: fit-content;
    padding: 1rem;
    width: fit-content;
    margin: auto;

    p{
        padding: 0.3rem 0rem;
        color: black;
    }
}

.shift{
    padding-right: 4vw;
    color: rgb(78, 155, 145);
}