:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --light-bg-blue: #edfcfd;
  --secondary-bg-orange: #e9a744;
  --light-blue: #f7fbfe;
  --dark-blue: #03656b;
  --primary-white: #fff;

  --border-radius: 8px;

  --very-small-padding: 2px;
  --very-small-padding: 4px;
  --medium-padding: 6px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
