@import "_mixins.scss";

@mixin grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  margin: 10px 0;
  padding: 15px 10px 15px 0;
  place-items: center;
}
@mixin grids {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  margin: 5px 0;
  padding: 15px 10px 15px 0;
  place-items: center;
}

.mainbody{
  @include max-width(large) {
    width: 100%;
    margin: auto;
}
}

.body{
  background-color:#FAFFFD;
}

.services{
  @include grid;
  //margin-top: 10%;
  @include max-width(large){
    display: flex;
    flex-direction: column;
    //-ms-flex-align: center;
  }
  
}

.servicetype{
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 3px 3px 5px gray;
  margin: 4px;
  border-radius: 5px;
  background: #FFFFFF;

}

.image{
  display: flex;
  background: linear-gradient(180deg, rgba(3, 101, 107, 0.15) 20.14%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  //padding: auto;
}
.intype{
  padding: 1px 4px;
  text-align:justify;
  color: #002629;
  
  p{
    padding: 2px;
    font-size: small;
    color: #002629;
    font-weight: bold
  }
  input[type= radio]{
    accent-color: #03656B;
    
  }
}

.boards{
  @include grids;
  @include max-width(medium){
    display: flex;
    flex-direction: column;
    //-ms-flex-align: center;
  }
}

.board{
  text-align: center;
  width:80%;
  height: 6rem;
  margin: 5px;
  padding-top: 10px;
  background: #FFFFFF;
  border: 2px solid rgb(151, 150, 150);
  box-shadow: 0px 3.77961px 17.0083px rgba(75, 70, 92, 0.1);
  box-shadow: 0px -3.77961px 0 inset red;
  border-radius: 5.66942px;
  @include max-width(medium){
    width: 70%;
  }
  
}

.metric{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 15rem;
  @include max-width(medium){
    display: flex;
    flex-direction: column;
    //-ms-flex-align: center;
  }
}
.perfom{
  background-color: #F1FCFD;
  width: 50%;
  //height: 10rem;
  padding: 10px;
}

.statistics{
  width: 50%;
  padding: 10px;
  background-color: #FFF6FE;
}

.data{
  display: flex;
  align-items: center;
  @include max-width(medium){
    display: flex;
    flex-direction: column;
    //-ms-flex-align: center;
  }

}

.earn{
  margin-bottom: 0;
  margin-top: 2rem;
}
.earnings{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 182px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
 //margin-top: 0;
 @include max-width(medium){
  //display: flex;
  //flex-direction: column;
  width: 70%;
  height: 60%;
  margin-bottom: 15px;
  //-ms-flex-align: center;
}
 @include max-width(small){
  width: 75%;

}
@include max-width(xsmall){
  width: 100%;

}

}

.figure{
  color: #19E32D;
}
.fig{
  color:#FB2626;
}
.vibmes{
  padding:0 1rem;
}

.visibility{
  display: flex;
  width: 25rem;
  height: 5rem;
  margin: 8px;
  padding: 1rem;
  background: #FFFFFF;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1.8rem;
  align-items: center;
  @include max-width(medium){
    width: 30rem;
    
  }
  @include max-width(small){
    width: 20rem;
    height: fit-content;
  }
  @include max-width(xsmall){
    //display: flex;
    //-ms-flex-align: center;
    width: 80%;
    height: fit-content;
  }
}
.messages{
  display: flex;
  width: 25rem;
  height: 5rem;
  margin: 8px;
  padding: 1rem;
  background: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1.8rem;
  @include max-width(medium){
    width: 30rem;

  }
  @include max-width(small){
    width: 20rem;
    height: fit-content;
  }
  @include max-width(xsmall){
    //display: flex;
    //-ms-flex-align: center;
    width: fit-content;
    height: fit-content;
  }

}
