@import "_mixins";

.home {
  display: grid;
  grid-template-columns: auto 300px;
  column-gap: 2rem;
}

.navbar {
  @include flexAlignCenter;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.form {
  @include flexAlignCenter;
  position: relative;

  > button:first-child {
    outline: none;
    border: none;
    background: none;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 20px;
  }

  input {
    width: 300px;
    max-width: 100%;
    padding: 20px 50px 20px 45px;
    position: relative;
    border-radius: 28px;
    border: 1px solid var(--dark-blue);
  }

  button:last-child {
    outline: none;
    border: none;
    background: none;

    position: absolute;
    top: 40%;
    right: 20px;
  }
}

.service {
  @include flexJustifyCenter;
  flex-direction: column;
  height: 315px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--light-bg-blue);
  border-radius: var(--border-radius);
  h2 {
    margin-bottom: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 2rem;
  > div {
    height: 160px;
    max-height: 160px;
    background-color: var(--primary-white);
    border-radius: var(--border-radius);
  }

  > div:first-child {
    background-color: var(--dark-blue);
    color: var(--primary-white);
    @include gridCenterItems;
    padding-left: 20px;
    padding-right: 20px;

    > p {
      margin-right: auto;
      margin-left: 1.7rem;
      font-weight: 500;
      font-size: 1.7rem;
    }

    > div {
      @include flexSpaceBetween;

      img {
        object-fit: contain;
        margin-right: 10px;
      }
    }
  }

  > div:nth-child(2) {
    padding: 3rem 2rem 0 2rem;

    div:first-child {
      margin-bottom: 15px;
    }

    p:first-child {
      font-size: 18px;
      font-weight: bold;
    }
  }

  > div:last-child {
    padding-left: 20px;
    padding-top: 25px;
    text-align: center;

    > img {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    > p {
      font-size: 18px;
      font-weight: 500;
    }
    > div {
      @include flexAlignCenter;
      justify-content: center;

      p {
        margin-left: 5px;
      }
    }
  }
}

.activity {
  > div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    a {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.activities {
  background-color: var(--light-bg-blue);
  padding: 10px 0;
  height: 100%;

  > div {
    @include flexAlignCenter;
    margin-bottom: 1.5rem;

    > div {
      margin-left: 10px;
    }
  }
}
