@import "_mixins.scss";

.invoice {
  padding: 1rem;
  padding-top: 0rem;
  
}

.spreadmain {
  @include flexlayout;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .h1 {
    font-weight: bold;
  }
}

.spreadmini {
  @include flexlayout;

  p {
    padding: 0.2rem;
  }
}

.spread {
  @include flexlayout;
  p {
    padding: 0.2rem;
  }
  font-size:medium;
}

.name {
  color: var(--dark-blue);
  font-weight: bold;
}

.highlight {
  background-color: var(--secondary-bg-orange);
  color: var(--primary-white);
}

.boderline {

   border: 3px solid  #e2eeee;
   height: fit-content;
   padding: 1rem;
   width: fit-content;
   margin-left: 6rem;
   margin-right: 5rem;
}

.up {
  margin-bottom: 1rem;
}
