@import "_mixins.scss";

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 101, 107, 0.4);
  @include gridCenterItems;

  > div {
    background-color: var(--primary-white);
    max-width: 30rem;
    width: 100%;
    border-radius: var(--border-radius);
    @include gridCenterItems;
    row-gap: 3rem;
    padding: 4rem 0;

    button {
      outline: none;
      padding: 2rem 7rem;
      border-radius: 100px;

      &:first-child {
        background-color: var(--secondary-bg-orange);
        border: none;
      }

      &:last-child {
        border: 1px solid var(--secondary-bg-orange);
        background-color: rgba(3, 101, 107, 0.1);
      }
    }
  }
}
