.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 1rem;

  > div {
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
