.aside {
  min-height: 100vh;
  padding-right: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 2.5rem;
  padding-bottom: 1rem;

  > div {
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.image {
  width: 300px;
  height: 300px;

  img {
    width: 100%;
  }
}

.article {
  margin-top: 10px;
  margin-bottom: 10px;
  &_details {
    display: flex;
    align-items: center;

    div:first-child {
      width: 70px;
      height: 70px;
      display: grid;
      place-items: center;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }

    div:last-child {
      padding-left: 5px;

      p:first-child {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
      }

      a {
        font-weight: 500;
        font-size: 11px;
      }
    }
  }
}
